body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  margin: 20px;
  background-color: #f8f8f8;
  color: #333;
}
form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
fieldset {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  position: relative;
}
legend {
  font-weight: bold;
  color: #333;
  padding: 0 10px;
  border: 1px solid #3ddd;
  border-radius: 5px;
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 0.9em;
  z-index: 10;
}
.input-group {
  position: relative;
  margin-bottom: 25px;
}
.input-group label {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #aaa;
  font-size: 1em;
  transition: all 0.2 ease-out;
  pointer-events: none;
}
.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"] {
  width: calc(100%-30px);
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.input-group.focused label,
.input-group.has-content label {
  top: -10px;
  font-size: 0.8em;
  color: rgb(107, 107, 224);
  background-color: white;
  padding: 0 5px;
  left: 10px;
}
.input-group input:focus {
  outline: none;
  border-color: rgb(107, 107, 224);
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
button {
  background-color: rgb(107, 107, 224);
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  background-color: rgb(55, 55, 127);
}
